﻿@{
    ViewData["Title"] = "Movie Trailers";
}

<div class="row">
    <div class="col-md-6">
        <h2>Movie Trailers API</h2>
        <ul>
            <li><a href="/swagger">API Documentation (Swagger)</a></li>
        </ul>
    </div>
</div>
